{% extends 'base.html' %}

{% block javascript %}
    <script>
    var i = 0; 
    addnew();

    

   

    function addnew() {
        var list = document.getElementById("qlist");
        var toAdd = document.createElement("li");
        
        toAdd.className = "qaentry"
        toAdd.id = `block${++i}`;
        toAdd.innerHTML = `<p class="num">${i}</p>
        <input type="text" class="q" name="q${i}" id="q${i}" placeholder="question"></input>
        <input type="text" class="a" name="a${i}" id="a${i}" placeholder="answer"></input>
        <button type="button" class="deletebutton" onclick="deleteblock(${i})">🗑️</button>`
        list.appendChild(toAdd);
    }

    function deleteblock(i) {
        var listBlock = document.getElementById("qlist")
        var toRemove = document.getElementById(`block${i}`)
        listBlock.removeChild(toRemove)
        
        nodenum = 1;
        listBlock.childNodes.forEach((qblock) => {
            qblock.id=`block${nodenum}`
            let p = qblock.querySelectorAll(".num")[0]
            p.innerHTML=`${nodenum}`
            let q = qblock.querySelectorAll(".q")[0]
            q.id = `q${nodenum}`
            q.name=`q${nodenum}`
            let a = qblock.querySelectorAll(".a")[0]
            a.id = `q${nodenum}`
            a.name=`q${nodenum}`
            let delbut = qblock.querySelectorAll(".deletebutton")[0]
            delbut.onclick = function() {deleteblock(nodenum)}
        
            nodenum++;
        })
    }
    </script>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='createset.css') }}">
    <title>Create New Set - studyer</title>
{% endblock %}

{% block navbar %}
    {% if current_user.is_authenticated %}
        <li><a href="/">{{current_user.username}}</a></li>

        
    {% endif %}
{% endblock %}

{% block body %}
    {% if current_user.is_authenticated %}
        <form id="createset" action="#" method="post">
            <button onclick="addnew();" id="addbutton" class="btn btn-primary rounded-circle" type="button" style="width:50px;height:50px;">+</button>
            <button id="submit" type="submit" class="btn btn-primary" style="height:50px">Create Set</button>
            <input type="text" name="title" id="title" placeholder="title"></input>
                <div id="containerqlist">
                    <ul id="qlist">
                </ul>
            </div>
        </form>
    {% else %}
        <h1><a href="/">You are not logged in. Click here to go back to home.</a></h1>
    {% endif %}
{% endblock %}