{% extends 'base.html' %}

{% block javascript %}
    <script>
    var i = 0;

    // RESSOLVE PROBLEM OF CREATING NEW SET LATER, WHEN CLICKING SUBMIT, ALSO WIPE DATA
    // LOAD THROUGH ARRAY HERE, AT START OF PAGE

    // when come back: do so it saves to array every time addnew is called, then loads at start of page
    addnew("", ""); // at start of site

    function addnew(q, a) {
        if (!localStorage["maxi"]) {
            localStorage["maxi"] = "1";
            maxi = 1;
            localStorage["qs"] = [];
        } else {
            document.getElementsByClassName('')
            localStorage["maxi"]++;
            localStorage
            
        }


        var list = document.getElementById("qlist");
        i++;
        list.innerHTML += `
        <li style="border-radius: 25px;
                background: #e7fbff;
                padding: 20px;
                margin: 20px;
                height: 100px;
                width: 600px;
                display: flex;
                justify-content: center;" >
                    <p>${i}</p>
                    <input type="text" name="q${i}" id="q${i}" value=${q} style="border:none;margin:10px;width:280px;border-radius:10px;"></input>
                    <input type="text" name="a${i}" id="a${i}" value=${a} style="border:none;margin:10px;width:280px;border-radius:10px;"></input>
        </li>
        `
    }
    </script>
{% endblock %}

{% block head %}
    <title>Create New Set - studyer</title>
{% endblock %}

{% block navbar %}
    {% if current_user.is_authenticated %}
        <li><a href="/">{{current_user.username}}</a></li>

        
    {% endif %}
{% endblock %}

{% block body %}
    {% if current_user.is_authenticated %}
        <form id="createset">
            <button onclick="addnew();" id="addbutton" class="btn btn-primary" type="button">+ Add Question</button>
            <ul id="qlist">
            </ul>
        </form>
    {% else %}
        <h1><a href="/">You are not logged in. Click here to go back to home.</a></h1>
    {% endif %}
{% endblock %}