{% extends 'base.html' %}

{% block head %}
    <title>{{set.name}} - studyer</title>
{% endblock %}

{% block navbar %}
    {% if current_user.is_authenticated %}
        <li><a href="/logout">logout</a></li>
    {% else %}
        <li><a href="/login">login</a></li>
        <li><a href="/register">register</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    <h1>{{set.name}}</h1>
    <a href="/sets/{{set.id}}/write">
        <button type="button" class="btn btn-primary btn-lg">🖊️ Write</button>
    </a>
    <a href="/sets/{{set.id}}/mcq">
        <button type="button" class="btn btn-primary btn-lg">🖱️ Multiple Choice Practice</button>
    </a>
    <a href="/sets/{{set.id}}/test">
        <button type="button" class="btn btn-primary btn-lg">✅ Test</button>
    </a>
    <a href="/sets/{{set.id}}/edit">
        <button type="button" class="btn btn-primary btn-lg">✏️ Edit</button>
    </a>
{% endblock %}