{% extends 'base.html' %}

{% block head %}
  <title>Register - studyer</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block navbar %}
  <li><a href="/login">login</a></li>
{% endblock %}

{% block body %}
  <div class="form">
    <p>Register</p>
    <form action="#" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button type="submit" class="btn btn-primary">Register</button>
      <p class="redirmsg">Already have an account? <a href="/login">Login</a></p>
    </form>
  </div>

{% endblock %}

<!----



<div style="border-radius:10px;background-color:aliceblue;width:600px;height:400px;display: flex;align-items: center;justify-content: center;">
  <h1 style="display:block">Create an account</h1>
  <form action="#" method="post">
      <div style = "display:block;">
        <label for="username">Username:</label>
        <input type="text" name="username"/>
      </div style = "display:block;">
        <label for="password">Password:</label>
        <input type="password" name="password" />
      </div>
      <button type="submit" class="btn btn-primary" style="display:block">Submit</button>
    </div>
  </form>
</div>
>
